html p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}
html h1, h2, h3, h4, h5{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.landing-background{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 360px;
    background-image: url(../assets/images/precisionAgriculture/pexels-jeshootscom-442589.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
.landing-background h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.849);
}
 .pacifica-logo{
    height: 3em;
}

.go-up-effect{
    position: absolute;
    top: 990px; 
    left: 10px;
    font-size: 90px;
    color: rgb(255, 255, 255);
    background-color: rgba(216, 191, 216, 0.178);
    width: 71%;
    border-radius: 10px;
}
.intro{
    margin-top: 90px;
    margin-bottom: 150px;
}

.second{
    background-color: #EBF0F2;
}
.my-sexy-body{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} 
.awesome-quote-div{
    display: flex;
    justify-content: center;
    background-color: #0a8f36;
    color: aliceblue;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.awesome-quote-div h1{
    font-family: 'Source Code Pro', monospace;
    line-height: 40px;
    width: 50%;
    font-size: 28px;
}